* {
    box-sizing: border-box;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    padding: 7px;
    height: 100%;
}

.no-padding {
    padding: 0 !important;
}

.container {
    background: url("assets/imgs/map-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    min-width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
}

#map {
    height: 100%;
    min-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

#box-container {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1000;
    top: 0;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

.box-data-interface {
    background-color: #2c403d;
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.text-title {
    font-family: SegoeUI !important;
    font-weight: 300!important;
    font-style: normal !important;
    font-stretch: normal!important;
    color: white!important;
    font-size: 0.15em!important;
    white-space: pre;
}

.item-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-box {
    font-family: SegoeUI !important;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1em 0.5em 0.5em;
}

.text-box {
    color: white;
    font-size: 0.5em;
}

@media screen and (min-width: 600px) {
    .text-title {
        font-size: 1.2em;
    }
    .col {
        padding: 8px;
    }
    .icon-box {
        width: 1.1em;
        height: 1.1em;
    }
}

.bg-map {
    background: red;
}